@import "../../../styles/util";

.card {
    display: flex;

    &_img {
        --bs-aspect-ratio: 67.5%;
        background-color: #E67E2E;
        border-radius: 8px;
        flex: 0 0 auto;
        width: 80px;
        position: relative;
        overflow: hidden;
        text-align: center;
        display: flex;
        justify-content: center;align-items: center;
        span {
            
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            top: 0;
            background: linear-gradient(117deg, rgba(255, 255, 255, 0.416), transparent);
        }

    }

    &_info {
        flex: 1 0;
        padding-left: 20px;

        h4 {
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 7px;
            line-height: 1;
        }

        p {
            font-size: 12px;
        }
    }
}