@import "../../styles/util";


.counter {
    --size: 20px;
    display: inline-flex;
    align-items: center;

    &>* {
        border-radius: 50%;
        width: var(--size);
        height: var(--size);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 3px;
    }

    &_btn {
        background-color: #572D86;
        color: #fff;
        border: none;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &_input {
        text-align: center;
        border: 1px solid #EFEFEF;
        font-size: 10px;
    }
}